.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Alata', sans-serif;
    Font-size: 15px;
}
.hero{
    padding: 4rem 8rem;
    background: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}
header{
    display: flex;
    justify-content: space-between;
}
 li {
    display: inline-block;
    position: relative;
    padding: .75rem;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
.navbar li a::after {
	border-bottom: 2px white solid;
	content: "";
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  width: 0;
  transition: .25s ease-in-out;
}

.navbar li a:hover::after {
	width: 50%;
  cursor: pointer;
}

.text-intro{
    border: solid white 2px;
    width: 60%;
    margin-top:9rem;
    padding: 2rem 1rem;
    color: white;
    line-height: 0.95;
    overflow: hidden;
}
.text-intro h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 5rem;
}
/*Product section */

.tagline{
    display: flex;
    margin: 7rem;
}

.img{
    width: 100%;
    overflow: hidden;
}
.text{
    background: white;
    position: absolute;
    margin-top: 14rem;
    right:4.5%;
    width: 45%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5rem;

}
.text h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: black;
}
.text p{
    font-weight: 300;
    color:hsl(0, 0%, 55%)
}
/*Grid Section Start*/
.grid{
    margin: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    

.grid h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: black;
}
.btn{
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 2.5rem;
    border: 1px solid black;
    cursor: pointer;
    transition: all .2s ease-in;
    font-size: 1rem;
    font-weight: 300;

}
.btn:hover{
    
    transition: .3s ease-out;
    color: white;
    background-color: black;
    border: 1px solid white;
}
/*Grid Section Photos And Actual Grid*/


.creations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 7rem;
}
.creation-item {
  position: relative;
  margin: 0.8rem 0;
}

.creation-item .img-container {
  position: relative;
}

.creation-item::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0.5rem; 
  right: 0;
  box-shadow: inset 0px 0px 150px black;
  transition: box-shadow .15s ease-in;
}

.creation-item img {
  transition: opacity .25s ease-in;
}

.creations p {
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  bottom: 7.2%;
  left: 17%;
  /*! font-size: 3rem; */
  /*! color: var(--white); */
  /*! transition: color .25s ease-in; */
  /*! z-index: 1; */
}

.creation-item:hover,
.creation-item:hover img,
.creation-item:hover ~ p,
.creation-item:hover::after,
.creations p:hover {
  cursor: pointer;
}

.creation-item:hover img {
  opacity: 0.2;
}
.creation-item p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
}
.creation-item:hover p {
  color: black;
}

.creation-item:hover::after {
  box-shadow: none;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
  }
  
  footer > * {
    width: 50%;
    padding-bottom: 2rem;
  }
  
  footer nav {
    font-size: 1.2rem;
    justify-content: space-between;
    width: 40%;
  }
  
  footer #logo {
    font-size: 2.5rem;
  }
  
  footer ul {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
  }
  
  footer .copyright {
    color: darkgray;
    font-size: 1.2rem;
    text-align: right;
  }
  .attribution{
    font-size: 11px;
    text-align: center;
    background-color: black;
    color: darkgray;
  }
  .attribution a{
    font-size: 11px;
    text-align: center;
    background-color: black;
    color: darkgray;
  }